* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

body {
    min-height: 100vh;

    font-family: sans-serif;
}

.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    height: 8vmin;
    width: 100%;

    background-color: blue;
    padding: 0 7% 0 7%;

    font-family: Belinsky, sans-serif; /* Add belinsky */
    font-size: 12px;
}

.nav-group {
    display: flex;
    flex-flow: row nowrap;
}

.nav-option {
    display: flex;
    flex-flow: row nowrap;

    height: 100%;
}
a.nav-option {
    align-items: center;
    color: aliceblue;

    text-decoration: none;
}

.nav-group:first-child > * {
    justify-content: left;
    margin-right: 3rem;
}
.nav-group:last-child > * {
    justify-content: right;
    margin-left: 3rem;
}
.nav-group:last-child > .nav-option:last-child {
    margin-left: 1.5rem;
}
img.nav-option {
    border-radius: 2rem 2rem 2rem 2rem;
    align-self: center;

    aspect-ratio: 1/1;
    height: 50%;
    width: auto;
}

.register-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.register-group > img {
    margin-right: 1.75rem;
}

#main {
    background-image: url('../src/arcade-unsplash.jpg');
    background-position: center center;
    background-size: 100%;

    width: 100%;
    height: 92vh;
}

.center-container {
    flex-flow: column nowrap;

    height: auto;
    width: auto;

    border-radius: 2rem 2rem 2rem 2rem;
    padding: 2rem 4rem 2rem 4rem;

    background-color: white;

    margin-bottom: 6rem;
}

.center-container > a {
    text-decoration: none;
    color: black;
}


/* Umbrella Classes */
.flex-center {
    display: flex;

    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-flow: column nowrap;
}

.error {
    color: red;
}

.form-button {
    width: 100%;
}